<!-- project tags -->
{{ if isset site.Taxonomies "project_tags" }} {{ if not (eq (len
site.Taxonomies.project_tags) 0) }}
<div class="mb-8">
  <h5 class="mb-6">Project Tags</h5>
  <div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-6">
    <ul>
      {{ range $name, $items := site.Taxonomies.project_tags }}
      <li class="inline-block">
        <a
          class="hover:bg-primary dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-dark {{ if (eq $.Page.Kind `term`) }}
                  active
                {{ end }} m-1 block rounded bg-white px-3 py-1 hover:text-white"
          href="{{ .Page.RelPermalink }}"
        >
          {{ .Page.Title }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }} {{ end }}
