// DO NOT WRITE ANY STYLE IN THIS FILE
// If you want to add your own styles, please write it in the `./assets/scss/custom.scss` file.
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
  cursor: default;
}
    a {
      text-decoration: none;
      color: #007bff;
      position: relative;
      display: inline-block;
      font-weight: 600;
    }
a:link {
  text-decoration: none; 
  font-weight: 600;
} 
a:visited { 
  text-decoration: none; 
  font-weight: 600;
} 
a:hover { 
  text-decoration: none; 
  font-weight: 600;
} 
a:active { 
  text-decoration: none; 
  font-weight: 600;
}

    a::before,
    a::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      background-color: #007bff;
      transition: width 0.3s ease-in-out;
    }

    a::before {
      left: 0;
    }

    a::after {
      right: 0;
    }

    a:hover::before,
    a:hover::after {
      width: 50%;
    }
 
.logo-dark a,
.logo-light a {
  text-decoration: none;
  color: #007bff;
  position: relative;
  display: inline-block;
}

.logo-dark a::before,
.logo-dark a::after,
.logo-light a::before,
.logo-light a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}

.logo-dark a::before,
.logo-light a::before {
  left: 0;
}

.logo-dark a::after,
.logo-light a::after {
  right: 0;
}

.logo-dark a:hover::before,
.logo-dark a:hover::after,
.logo-light a:hover::before,
.logo-light a:hover::after {
  width: 50%;
}

.accordion-header {
    cursor: pointer;
    padding: 15px;
    transition: background-color 0.3s ease; /* This is optional */
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    padding: 0 15px;
    box-sizing: border-box;
}

.accordion-content p {
    margin: 0;
}

/* Assuming .open class is added dynamically */
.accordion-content.open {
    max-height: 500px; /* Adjust according to content */
    padding: 15px;
}
  // .landing{
  //   background-image: url(/images/landing.png);
  // }

