/* Ensure preloader covers the full screen */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2B2C2F;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#preloader.preloader.loaded {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

