<div id="game-area">
    <h3>Choose the answer</h3>
    <p id="score">Correct := <span id="correct-count">0</span> | Wrong := <span id="wrong-count">0</span></p>
    <p id="question-text">Question?</p>

<div id="options">
    <button id="option-1" class="option p-2 px-4 m-2 btn btn-outline-primary btn-sm">Option 1</button>
    <button id="option-2" class="option p-2 px-4 m-2 btn btn-outline-primary btn-sm">Option 2</button>
    <button id="option-3" class="option p-2 px-4 m-2 btn btn-outline-primary btn-sm">Option 3</button>
    <button id="option-4" class="option p-2 px-4 m-2 btn btn-outline-primary btn-sm">Option 4</button>
</div>

    <p id="feedback-message"></p>
    <button id="try-again-button" class="p-2 px-4 my-2 btn btn-primary btn-sm" onclick="resetGame()">Try Again</button>
</div>


